{
  "parser": "babel-eslint",
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:jest/recommended",
    "plugin:json/recommended",
    "plugin:prettier/recommended"
  ],
  "plugins": ["react-hooks", "prettier"],
  "env": {
    "commonjs": true,
    "es6": true,
    "node": true,
    "browser": false,
    "jest/globals": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": false
    },
    "sourceType": "module"
  },
  "globals": {
    "strapi": true,
    "fetch": false
  },
  "rules": {
    "indent": "off", //Disable -- causing conflicts with prettier
    "linebreak-style": ["error", "unix"],
    "no-console": 0,
    "quotes": ["error", "single", { "avoidEscape": true }],
    "semi": ["error", "always"],
    "comma-dangle": ["error", "never"],
    "react-hooks/rules-of-hooks": "error", // Checks rules of Hooks
    "react-hooks/exhaustive-deps": "warn", // Checks effect dependencies
    "react/prop-types": "off",
    "jest/expect-expect": [
      "error",
      {
        "assertFunctionNames": ["expect", "request.**.expect"],
        "additionalTestBlockFunctions": []
      }
    ],
    "no-unused-vars": [
      "error",
      { "varsIgnorePattern": "^_", "argsIgnorePattern": "^_" }
    ]
  }
}
